<template name='contentProduct'>
  <style>
  a:link {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: snow;
  }

  a:visited {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: snow;
  }

  a:hover {
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
  }

  a:active {
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
  }
  </style>
  <a href="#" style='line-height: 15vh; background:tomato'>хотите поставить такую себе на стол? Жмите любую кнопку!</a>
  <p style="margin: 20px"> доставим бесплатно в любой уголок мира! </p>

</template>
