<template name='address'>
  <p style='line-height: 44px'><address class='forvis' style="visibility:hidden; margin-top: 20px">Волоколамское шоссе, д. 17, офис 392</address></p>
  <p style='line-height: 44px'>simplelamp 2015</p>
  <p style='line-height: 44px ; visibility:hidden;' class='forvis' >+7 916 483 5827 </p>
  <style>.ig-b- { display: inline-block; margin-top: 10px; margin-bottom: 10px;}
  </style>
  <a href="http://instagram.com/simplelamp.ru?ref=badge" class="ig-b- ig-b-24"><img id='iconMaza' src="social/stagramBig.png" alt="Instagram" /></a>
</template>
