<template name='landing'>

  <!-- <video width="90%" height="90%" autoplay loop class="backgroundVideo" id='backgroundVideo'>
    <source src="video/veryWell.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video> -->

  <link rel='stylesheet' href='styleLanding.css' />
<div id="allrecords" data-hook="blocks-collection-content-node">

  <div id="rec2071198" class="r" style="padding-bottom:60px; " data-record-type="18">

    <div class="cover" id="recorddiv2071198" bgimgfield="img" style="height:100vh;">

      <div class="cover_carrier" id="coverCarry2071198" data-content-cover-id="2071198" data-content-cover-height="100vh" data-content-cover-parallax="fixed" style="background-image:url({{content.mainImage}});         height:100vh;   width: 100vw;    ">
      </div>

      <!-- <div class="filteropacity" style="height:100vh;	z-index: -1000"></div> -->

      <!-- <div class="container">
        <div class="lr_col_12 ">
          <div class="centeredVerticallyBlock" style="height:100vh; ">
            <div class="t001" style="text-align:center;">
              <div class="wrapper" data-hook-content="covercontent">
                <h4 class="uptitle-sm" field="subtitle">SIMPLELAMP</h4>
                <h1 class="title-xl" field="title">Light and Dark</h1>
                <div class="descr-lg centerText dcenter" field="descr">Photographic lighting is the illumination of scenes to be photographed. A photograph simply records patterns of light, colour, and shade; lighting is all-important in controlling
                  <br />the image.</div>
                <span class="space"></span>
              </div>
            </div>
          </div>
        </div>
      </div> -->


    </div>


  </div>

  <div id="rec2071199" class="r" style="padding-top:56px;padding-bottom:56px; " data-record-type="71">

    <!-- T057 -->
    <div class="t057">
      <div class="container centeredContainer">
        ~
      </div>
    </div>


  </div>

  <div id="rec2071200" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="30">

    <!-- T015 -->
    <div class="t015">
      <div class="container centeredSection">
        <div class="lr_col_10 prefix_1">
          <h1 class="title-lg" field="title"><b><span style="font-weight: 600;">simplelamp</span>
            </b></h1>
        </div>
      </div>
    </div>


  </div>


  <div id="rec2071201" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">{{content.pre}}</div>
        </div>
      </div>
    </div>


  </div>

  <div id="rec2071204" class="r" style="padding-top:56px;padding-bottom:56px; " data-record-type="158">

    <!-- T146 -->
    <div class="t146">
      <div class="text" field="title">
        1
      </div>
    </div>


  </div>

  <div id="rec2071205" class="r" style="padding-top:0px;padding-bottom:28px; " data-record-type="30">

    <!-- T015 -->
    <div class="t015">
      <div class="container centeredSection">
        <div class="lr_col_10 prefix_1">
          <h1 class="title-lg" field="title"><span style="font-weight: 600;">сообщество</span></h1> </div>
      </div>
    </div>


  </div>

  <div id="rec2071206" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">{{content.first}}</div>
        </div>
      </div>
    </div>


  </div>



  <div id="rec2071202" class="r" style="padding-top:56px;padding-bottom:56px; " data-record-type="102">

    <!-- T090 -->
    <div class="t090">
      <div class="container">
        <div class="lr_col_10 prefix_1">
          <blockquote class="outer">
            <h4 field="text">«А давайте использовать на клиенте и сервере один и тот же язык программирования»</h4>
          </blockquote>
          <div style="overflow: hidden; width:100%; height:60px;">
            <svg version="1.1" viewBox="0 0 1200 31.7" width="1200px" height="40px">
              <g>
                <polygon points="40,31.7 40,4 0,4 0,0 44,0 44,22.3 67.2,0 1200,0 1200,4 68.8,4 " />
              </g>
            </svg>
          </div>
          <div class="author">
            <img src="landing/misha.jpg" imgfield="img" />
            <div class="title" field="imgtitle">Райан Дал</div>
            <div class="descr" field="imgdescr">создатель nodeJS, 2009</div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div id="rec2071206" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">{{content.firstN}}</div>
        </div>
      </div>
    </div>


  </div>

  <div id="rec2071202" class="r" style="padding-top:56px;padding-bottom:56px; " data-record-type="102">

    <!-- T090 -->
    <div class="t090">
      <div class="container">
        <div class="lr_col_10 prefix_1">
          <blockquote class="outer">
            <h4 field="text">«А давайте сделаем пакет инструментов 3d моделирования профессионального уровня за 5000$ бесплатным!»</h4>
          </blockquote>
          <div style="overflow: hidden; width:100%; height:60px;">
            <svg version="1.1" viewBox="0 0 1200 31.7" width="1200px" height="40px">
              <g>
                <polygon points="40,31.7 40,4 0,4 0,0 44,0 44,22.3 67.2,0 1200,0 1200,4 68.8,4 " />
              </g>
            </svg>
          </div>
          <div class="author">
            <img src="landing/Ton_Roosendaal.jpg" imgfield="img" />
            <div class="title" field="imgtitle">Тон Розендаль</div>
            <div class="descr" field="imgdescr">blender foundation, 1995</div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div id="rec2071206" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">{{content.firstNN}}</div>
        </div>
      </div>
    </div>


  </div>



  <!-- <div id="rec2071203" class="r" style="padding-top:28px;padding-bottom:84px; " data-record-type="3">


    <div class="t107">
      <div class="centeredContainer">
        <img src="http://www.ucarecdn.com/f6892d91-c8c9-4b70-ae11-50dacf60e121/forest-2.jpg" class="widthauto" imgfield="img" />
      </div>
    </div>


  </div> -->


  <div id="rec2071204" class="r" style="padding-top:56px;padding-bottom:56px; " data-record-type="158">

    <!-- T146 -->
    <div class="t146">
      <div class="text" field="title">
        2
      </div>
    </div>


  </div>


  <div id="rec2071205" class="r" style="padding-top:0px;padding-bottom:28px; " data-record-type="30">

    <!-- T015 -->
    <div class="t015">
      <div class="container centeredSection">
        <div class="lr_col_10 prefix_1">
          <h1 class="title-lg" field="title"><span style="font-weight: 600;">любители собирать</span></h1> </div>
      </div>
    </div>


  </div>


  <div id="rec2071206" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">Сама инфраструктура продукта. Я это называю путь сообщества.
            Как ему двигаться, куда развиваться. Стоит заметить, здесь совершенно иная модель денежных
            потоков и корпоративный дизайн бизнес-процессов здесь неуместен. В центре сообщества евангилист -
            как правило основатель. Вокруг него знакомые, приятели, братья по оружию - все активные разработчики
            платформы. Далее следуют пассивные разработчики платформы и продуктовые разработчики. Все остальные - те,
            кто пытается ими быть. И, конечно же, остальной мир вокруг них, который ещё не знает о существовании
            нового продукта.
          </div>
        </div>
      </div>
    </div>


  </div>

  <div id="rec2071208" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="3">


    <div class="t107">
      <div class="centeredContainer">
        <img src="landing/second.png" class="widthauto" imgfield="img" />
        <div class="container_8 title" field="title"><a href="http://allery/14258057/1818-Magazine">instagram</a> @simplelamp</div>
      </div>
    </div>


  </div>


  <div id="rec2071209" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  "></div>
        </div>
      </div>
    </div>
  </div>

  <div id="rec2071210" class="r" style="padding-top:126px;padding-bottom:56px; " data-record-type="158">

    <!-- T146 -->
    <div class="t146">
      <div class="text" field="title">
        3
      </div>
    </div>


  </div>

  <div id="rec2071211" class="r" style="padding-top:0px;padding-bottom:28px; " data-record-type="30">
    <!-- T015 -->
    <div class="t015">
      <div class="container centeredSection">
        <div class="lr_col_10 prefix_1">
          <h1 class="title-lg" field="title"><span style="font-weight: 600;">электронные устройства</span></h1> </div>
      </div>
    </div>
  </div>


  <div id="rec2071207" class="r" style="padding-top:42px;padding-bottom:42px; " data-record-type="102">
    <!-- T090 -->
    <div class="t090">
      <div class="container">
        <div class="lr_col_10 prefix_1">
          <blockquote class="outer">
            <h4 field="text">А давайте не будем пользоваться выключателем!</h4>
          </blockquote>
          <div style="overflow: hidden; width:100%; height:60px;">
            <svg version="1.1" viewBox="0 0 1200 31.7" width="1200px" height="40px">
              <g>
                <polygon points="40,31.7 40,4 0,4 0,0 44,0 44,22.3 67.2,0 1200,0 1200,4 68.8,4 " />
              </g>
            </svg>
          </div>
          <div class="author">
            <img src="landing/IMG_0970.png" imgfield="img" />
            <div class="title" field="imgtitle">Арсений Попов</div>
            <div class="descr" field="imgdescr">вечно пьяный, вечно молодой</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="rec2071212" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="106">

    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">Мы создаем интерфэйс ввода имеющий интуитивное взаимодействие.
          Три причины дружить с simplelamp: <br>
           -- Полностью кастомный продукт <br>
           ---- simplelamp отличный повод для общения со специалистами в области аппаратного программирования, без смс и регистрации <br>
           ------ simplelamp прекрасная альтернатива провести время за чашечкой кофе <br>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div id="rec2071213" class="r" style="padding-top:28px;padding-bottom:28px; " data-record-type="3">

    <!-- T107 -->
    <div class="t107">
      <div class="centeredContainer">
        <img src="landing/last.jpg" class="widthauto" imgfield="img" />
      </div>
    </div>
  </div>

  <div id="rec2071214" class="r" style="padding-top:28px;padding-bottom:98px; " data-record-type="106">
    <!-- T004 -->
    <div class="t004">
      <div class="container ">
        <div class="lr_col_8 prefix_2">
          <div field="text" class="text  ">Если бы я презентовал продукт на английском языке: simplelamp = open source community platform</div>
        </div>
      </div>
    </div>
  </div>

  <div id="rec2071215" class="r" style="padding-top:56px;padding-bottom:56px;background-color:#f5f5f5; " data-record-type="144">
    <!-- T134 -->
    <div class="t134">
      <div class="container_10">
        <div class="lr_col_10">
          <img src="logo/fire.png" style='width: 300px; height: 300px' imgfield="img">
          <!-- &copy; 2015 All Rights Reserves -->
          <p field="descr" style="color:#000000;">
            <br /><a href="http://facebook.com/">Facebook</a> | <a href="mailto:parsenicum@gmail.com">parsenicum@gmail.com</a>
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>


</div>




</template>
