<template name='logo'>
  <table class="logo">
  <tr class="coloumn">
    <td class="item">s</td>
    <td class="item">m</td>
    <td class="item">e</td>
    <td class="item">l</td>
  </tr>
  <tr class="coloumn">
    <td class="item">i</td>
    <td class="item">p</td>
    <td class="item"></td>
    <td class="item">a</td>
  </tr>
  <tr class="coloumn">
    <td class="item"></td>
    <td class="item">l</td>
    <td class="item"></td>
    <td class="item">m</td>
  </tr>
  <tr class="coloumn">
    <td class="item"></td>
    <td class="item"></td>
    <td class="item"></td>
    <td class="item">p</td>
  </tr>
</table>
</template>
